# go environment
.env

# pem files
*.pem

# Vendor
vendor/*

*.exe

.idea/*

wireguard

ui/.idea/*
ui/dist/*

.DS_Store
ui/node_modules
/dist

# local env files
ui/.env.local
ui/.env.*.local
ui/env.json
.idea

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

node_modules/

# output
cmd/nettica-api/nettica-api
__debug_bin*

# Editor directories and files
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
ui/env.json.save
.env.save
